body{
   
    background-repeat: no-repeat;
    background-size: cover;
}


.main{
   display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    background: black;
    background-image: url(ap1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


h3{
    text-align: center;
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}


h1{
    margin-bottom: 100px;
    color: rgb(13, 4, 4);
    text-shadow: 5px 5px 5px rgb(14, 1, 1);
}


img:hover{
    opacity: 1;
}
